amqp==2.6.0
APScheduler==3.9.1
astropy==5.0.2
astropy-healpix==0.6
astroquery==0.4.5
astrosource==1.6.0
attrs==21.4.0
banzai @ file:///home/gudrun/marcotu/banzai
barycorrpy==0.4.4
beautifulsoup4==4.10.0
billiard==3.6.4.0
boto3==1.21.19
botocore==1.24.19
celery==4.3.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
colorlog==6.6.0
cosmic-conn==0.2.8
cryptography==36.0.1
cycler==0.11.0
Cython==0.29.28
Deprecated==1.2.13
elasticsearch==5.5.3
emcee==3.1.1
fitsio==1.1.7
fonttools==4.30.0
greenlet==1.1.2
html5lib==1.1
idna==3.3
imageio==2.16.1
importlib-metadata==4.11.3
iniconfig==1.1.1
jeepney==0.7.1
jmespath==0.10.0
jplephem==2.17
keyring==23.5.0
kiwisolver==1.4.0
kombu==4.4.0
lcogt-logging==0.3.2
logutils==0.3.5
matplotlib==3.5.1
mysql-connector-python==8.0.28
networkx==2.7.1
numpy==1.22.3
ocs-archive==0.2.9
ocs-ingester==3.0.4
opencv-python==4.6.0.66
opentsdb-http-client==0.2.0
opentsdb-python-metrics==0.2.0
packaging==21.3
photutils==1.4.0
Pillow==9.0.1
pluggy==1.0.0
pretty-errors==1.2.25
protobuf==3.19.4
psutil==5.9.0
psycopg2-binary==2.9.3
py==1.11.0
pycparser==2.21
pyerfa==2.0.0.1
pyparsing==3.0.7
pytest==7.1.0
python-dateutil==2.8.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pyvo==1.3
PyWavelets==1.3.0
PyYAML==6.0
redis==4.1.4
reproject==0.8
requests==2.26.0
s3transfer==0.5.2
scikit-image==0.19.2
scipy==1.8.0
SecretStorage==3.3.1
sep==1.2.1
six==1.16.0
soupsieve==2.3.1
SQLAlchemy==1.4.32
tenacity==6.0.0
tifffile==2022.2.9
tomli==2.0.1
torch==1.11.0
tqdm==4.63.0
typing_extensions==4.1.1
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.8
vine==1.3.0
webencodings==0.5.1
wrapt==1.14.0
zipp==3.7.0
